.container-rodape{
    background-color: #383838;
    height: 100px;
    position: absolute;
    width: 100vw;
    max-width: 1900px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-rodape span{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    margin-right: 28px;
}